
table {
       /*border: 01px solid black; *//* storis */
       margin-left: 5%; /*nuo kaires lango*/
    }

th, td {

       width: 300px;
       align-content: center;
}

img {

       width: 300px
}

li {
       height: 20px;
}

li:hover a{
       color: orange;
}
/*
li:nth-of-type(odd){
       background-color: lightblue;
}
li:nth-of-type(even){
       background-color: lightgreen;
}
*/

a {
       color: darkblue;
       text-decoration: none;

}

#parinktas_li {

       color: grey;
       text-transform: uppercase;
}

h3 {
       color: darkblue;
}

#pranesimas {
       color: red;
       font-size: 20px;
}

#pavojus {
       color: red;
}

input[type="text"]{
       width: 170px;
}
input[type="submit"]{
       width: 170px;
}

